<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ProdigyLabsAutomationSuite">
<parameter name="browser" value="Chrome"/>
  <parameter name="environment" value="assignment"/>
  <test thread-count="1" name="Test">
    <classes>
      <class name="com.prodigylabs.assignment.testScripts.prodigylabsAutomationTask">
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- ProdigyLabsAutomationSuite -->
